<script language="javascript" type="text/javascript" src="/assets/jquery.min.   js"></script>
<script language="javascript" type="text/javascript" src="/assets/jquery.jqplot.min.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/jquery.jqplot.css" />


<h1>Listing sources</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sources.each do |source| %>
  <tr>
    <td><%= link_to source.name, source %></td>
    <td><%= link_to 'Edit', edit_source_path(source) %></td>
    <td><%= link_to 'Destroy', source, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<% @source_data = Array.new %>
<% @sources.each do |source| %>
  <% @source_data.push source.jargon_files.map { |x| x.jargon_score } %>
<% end %>

<p>
  <b>Jargon scores for all sources</b></br>
  <div id="chartdiv" style="height:400px;width:300px; "></div>
  <script>
    var j_points = [];
    j_points = <%= @source_data.to_json %>;
    $.jqplot('chartdiv', j_points);
  </script>
</p>

<%= link_to 'New Source', new_source_path %>
