<%= form_for(@jargon_file, :html => { :multipart => true }) do |f| %>
  <% if @jargon_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jargon_file.errors.count, "error") %> prohibited this jargon_file from being saved:</h2>

      <ul>
      <% @jargon_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p><b>Add File to:  </b><%= @jargon_file.source.name %></p>
    <%= f.hidden_field :source_id %>
  <p>
    <%= f.file_field :text_file %>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
