<%= form_for(@jargon_file) do |f| %>
  <% if @jargon_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jargon_file.errors.count, "error") %> prohibited this jargon_file from being saved:</h2>

      <ul>
      <% @jargon_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :source_id %><br />
    <%= f.number_field :source_id %>
  </div>
  <div class="field">
    <%= f.label :jargon_score %><br />
    <%= f.text_field :jargon_score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
