<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @jargon_file.name %>
</p>

<p>
  <b>Source:</b>
  <%= @jargon_file.source_id %>
</p>

<p>
  <b>Jargon score:</b>
  <%= @jargon_file.jargon_score %>
</p>
<p>
  <b>Slate score:</b>
  <%= @jargon_file.slate_score %>
</p>
<p>
  <b>Switch score:</b>
  <%= @jargon_file.switch_score %>
</p>
<p>
  <b>Composite score:</b>
  <%= @jargon_file.composite_score %>
</p>
<p>
  <pre>
    <% if @jargon_file.text_file.present? %>
      <%= render :file => @jargon_file.text_file.path %>
    <% end %>
  </pre>
</p>


<%= link_to 'Back', @jargon_file.source %>
